@model PF6_Team1_DotNetAssignment.Models.Project

@{
    ViewData["Title"] = "Create";
    
}
<h1 style="margin-top: 8%;">Create</h1>

<h4>Project</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Project Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyImage" class="control-label"> Upload an Image</label>
                <input asp-for="MyImage" class="form-control" />
                <span asp-validation-for="MyImage" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="MyVideo" class="control-label">Upload a Video</label>
                <input asp-for="MyVideo" class="form-control" />
                <span asp-validation-for="MyVideo" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="RequiredFunds" class="control-label">Required Funds</label>
                <input asp-for="RequiredFunds" class="form-control" />
                <span asp-validation-for="RequiredFunds" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="CurrentFunds" class="control-label"></label>
                <input asp-for="CurrentFunds" class="form-control" />
                <span asp-validation-for="CurrentFunds" class="text-danger"></span>
            </div>
                -->
            <!--
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            -->
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="AmountOfViews" class="control-label"></label>
                <input asp-for="AmountOfViews" class="form-control" />
                <span asp-validation-for="AmountOfViews" class="text-danger"></span>
            </div>
                -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}