@using Microsoft.AspNetCore.Http


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DI.TinyCrm.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.min.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
            <a class="navbar-brand" href="#">PF6 Team1</a>
            <div class="container">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Project" asp-action="Index_All">Project</a>
                        </li>
                    </ul>

                    @if (string.IsNullOrEmpty(Context.Session.GetString("UserSession")))
                    {

                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item" role="presentation"><a class="nav-link text-white" asp-area="" asp-controller="Users" asp-action="Create">Sign Up</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Login">Login</a></li>
                        </ul>

                    }

                    else
                    {
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item dropdown show">
                                <button class="btn dropdown-toggle text-white" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span> @TempData["data"]</button>
                                <div class="dropdown-menu show" role="menu">
                                    <a class="dropdown-item" role="presentation" href="#">My Projects</a>
                                    <a class="dropdown-item" role="presentation" href="#">My Funded Projects</a>
                                    <a class="dropdown-item" role="presentation" asp-controller="Users" asp-action="Details" asp-route-id="@Context.Session.GetString("UserSession")">Settings</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Log Out</a>
                                </div>
                            </li>
                        </ul>
                    }


                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="text-center text-white m-0 small">Copyright&nbsp;© PF6 Team1 .NET 2021</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
